
@{
    ViewBag.Title = "Brisanje oglasa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">Oglas uspješno obrisan!</div>

@Html.ActionLink("Povratak na oglase", "Popis")